
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Listar Alunos</title>
    
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <h1>Lista de Alunos Cadastrados:</h1>
        </div>
        <br>
        <form method="GET" action="/busca">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Pesquise pelo nome" id="q" name="q">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">Pesquisar</button>
                </span>
              </div>
        </form>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">CPF</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="aluno:${alunos}">
                    <th scope="row" th:text="${aluno.id}">#</th>
                    <td th:text="${aluno.nome}"></td>
                    <td th:text="${aluno.email}"></td>
                    <td th:text="${aluno.cpf}"></td>
                    <td><a th:href="@{'/excluir_aluno/' + ${aluno.id}}"><img src="img/delete.png" title="Exluir" height="16"
                                width="16"></a></td>
                    <td><a th:href="@{'/atualizar_aluno/' + ${aluno.id} + '/'}"><img src="img/atualizar.png" title="Atualizar" height="16"
                                width="16"></a></td>
                </tr>
            </tbody>
        </table>

        <p th:text="${mensagem}"></p>

        <div class="row justify-content-center mt-4 mb-4">
            <a href="/"><input class="btn btn-success" type="button" value="Cadastrar Mais Alunos"></a>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    </div>
</body>

</html>